body{
    padding: 31px;
}

.display-flex {
    display: flex;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.alignItemsCenter{
    align-items: center;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
img {
    height: 100%;
    width: 100%
}
.button{
    padding: 7px;
    outline: none;
    border-radius: 6px;
    border: 2px solid black;
}
.border{
    padding: 6px;
    margin: 4px 0;
    border: 2px solid black;
    border-radius: 7px;
}